@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* TODO I did */
  display: flex;
  flex-direction: column;
  /* TODO I did */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* TODO: I did */
  padding: 10px;
  /* TODO: I did */  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



/* TODO:----------------- I did -----------------*/

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* !! Recommended by Odin Project instead of bg color. */
  /* outline: 2px solid red; */
  padding: 2px;
}

.header {
  /* !! Used for visualization. */
  /* background-color: red;  */
}

.footer {
  /* margin-bottom: 0; */
  background-color: #eeeeee;
}

.left-links,
.right-links {
  display: flex;
  gap: 20px;

  /* !! Used for visualization. */
  /* background-color: yellow; */
  /* outline: 2px solid red; */
}

.left-links {
  margin-left: -25px;
}

.right-links {
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
  padding: 200px solid green;

  /* !! Used for visualization. */
  /* background-color: blue; */
  /* outline: 2px solid red; */
}

.buttons {
  gap: 20px;
  /* !! Used for visualization. */
  /* background-color: green; */
}

ul {
  /* !! changes the default bullet. */
  list-style-type: none;
}

a {
  /* !! change the underline part. */
  text-decoration: none;
  color: black;
}
/* TODO:----------------- I did -----------------*/