@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* TODO I did */
  display: flex;
  flex-direction: column;
  /* TODO I did */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* TODO: I did */
  padding: 6px;
  /* TODO: I did */  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



/* TODO:----------------- I did -----------------*/

.header,
.footer {
  display: flex;
  background-color: red;
  padding: 10px;
}

.footer {
  /* margin-bottom: 0; */
}

.left-links,
.right-links {
  display: flex;
  gap: 20px;
  background-color: yellow;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  flex-grow: 1;
  padding: 200px solid green;

  /* padding: 200px; */
  background-color: blue;
}

.buttons {
  background-color: green;
}

/* TODO:----------------- I did -----------------*/