/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);

  /* I did */
  display: flex;
  align-items: center;
  /* gap: 1px;            ?? not sure ??*/
  /* I did */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;

  /* I did */
  margin-right: 8px;
  /* margin-left: auto;       ?? don't know why this won't work. */
  /* I did */
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;

  /* I did */
  padding: 10px;
  /* I did */
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;

  /* I did */
  margin-left: auto;
  margin-right: 8px;
  gap: 10px;
  /* I did */
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;

  /* I did */
  align-items: center;
  margin-right: 8px;
  /* I did */
}

ul {
  list-style-type: none;

  /* I did */
  display: flex;
  gap: 10px;
  /* I did */
}

/* --------------------------------------------------------- */
/* didn't solved: the 16px space between each item on both sides of the header. */
/* --------------------------------------------------------- */