body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /* TODO: I did */
  display: flex;
  flex-direction: column;
  /* TODO: I did */
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  /* TODO: I did */
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
  /* TODO: I did */
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  /* TODO: I did */
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO: I did */
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  /* TODO: I did */
  padding: 16px;
  width: 300px;
  flex-shrink: 0;
  /* TODO: I did */
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  /* TODO: I did */
  padding: 15px;
  margin: 15px;
  width: 300px;  

  /* !! Won't do that, cz while using two monitors & stretch the window within the
  !! two monitors, the height  of each element is long enough. */
  /* height: 136px; */
  /* TODO: I did */  
}



/* TODO:------------- I did -------------*/
.content {
  flex-grow: 1;
  display: flex;
}

.all-cards {
  display: flex;
  /* flex-direction: column; */
  padding: 30px;
  flex-wrap: wrap;
}

ul,
a {
  color: white;
  font-size: 24px;
  /* !! Removes bullet point. */
  list-style-type: none;

  /* !! Removes underline. */
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: -38px;
  gap: 20px;
}

/* TODO:------------- I did -------------*/