.header  {
  font-family: monospace;
  background: papayawhip;

  /* I DID */
  display: flex;
  justify-content: center;
  align-items: center;
  /* I DID */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

  /* I DID */
  margin: 10px;
  /* justify-content: center; /* individual control won't work */ */
  /* I DID */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  
  /* I DID */
  display: flex;
  padding: 10px;
  gap: 15px;
  /* I DID */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;

  /* I DID */
  color: blue;
  /* I DID */
}


/* I DID */
.left-links
 {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}
/* I DID */