body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;    /* Did wrong*/
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px; /* Did wrong*/
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;      /* Did wrong*/
  margin-left: auto; /* Added 344px. Though here, adding value is also correct */
}