body {
  background: #eee;
  font-family: sans-serif;
  /* border: 500px; */
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 100px auto;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container button {
  display: block;
  /* margin: 10px auto; */
}

.button-container {
  position: relative;
  background: #e3f4ff;
  margin: 10px;
  padding-bottom: 55px;
  text-align: center;
}

button {
  /* height: 200px; */
  position: absolute;
  background: white;
  border: 1px solid #eee;
  padding: 5px 30px 10px 150px;
  margin: 10px 1px 100px;
  /* text-align: center; */


}