body {
  background: #eee;
  font-family: sans-serif;
  /* border: 500px; */
}

.card {
  width: 400px;
  background: #fff;
  padding: 1px;
  margin: 20px auto;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 4px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container button {
  /* display: block; */
  /* margin: 10px auto; */
  /* ------------------------------------- */
  /* height: 200px; */
  position: absolute;
  background-color: white;
  top: 1000px;
  right: 2000px;
  border: 1px solid #eee;
  padding: 10px;
  top: 17px;
  right: 135px;
  /* border: 10px; */
  /* margin: 10px 1px 100px; */
  /* text-align: center; */
}

.button-container {
  display: block;
  position: relative;
  background: #e3f4ff;
  top: 2px;
  margin: 10px;
  padding-bottom: 50px;
  text-align: center;
}

/* button { */
  /* height: 200px; */
  /* position: absolute; */
  /* background: white; */
  /* top: 10px; */
  /* right: 50px; */
  /* border: 1px solid #eee; */
  /* padding: 5px 30px 10px 150px; */
  /* border: 10px; */
  /* margin: 10px 1px 100px; */
  /* text-align: center; */
/* } */